/<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">    


<!--<h1 id="head">&nbsp;&nbsp;The Battleship Game</h1>-->
<title id="head">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;The Battleship Game</title>
<link rel="short gif "  href="ship.gif"/>

<div class="top">
    <div class="name">MY SHIPS   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENEMY </div>
    <div class="top-label"> &nbsp;A B C D E F G H I J
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        A B C D E F G H I J </div>
<div class="g_l">
    <div class="grid-label">  1 </div>
    <div class="grid-label">  2 </div>
    <div class="grid-label">  3 </div>
    <div class="grid-label">  4 </div>
    <div class="grid-label">  5 </div>
    <div class="grid-label">  6 </div>
    <div class="grid-label">  7 </div>
    <div class="grid-label">  8 </div>
    <div class="grid-label">  9 </div>
    <div class="grid-label">  10 </div>
</div>

<div class="content">
    <table id="player" class="battleGrid">
    </table>
    <div id="ship-holder">
        <div id="minesweeper" class="place-text">Minesweeper</div>
        <div><button id="place_minesweeper" class="unplaced">⬛⬛</button></div>
        <div id="destroyer" class="place-text">Destroyer</div>
        <div><button id="place_destroyer" class="unplaced">⬛⬛⬛</button></div>
        <div id="battleship" class="place-text">Battleship</div>
        <div><button id="place_battleship" class="unplaced">⬛⬛⬛⬛</button></div>
        <div id="switch-holder">
            <input type="checkbox" class="switch" id="is_vertical"></input>
        </div>
    </div>

    <div id="stats-holder">
        <div id="stats" class="place-text">Stats</div>
        <div id="player1" class="place-text">Your stats</div>
        <div id="enemy_hit" class="stats">Hits: 0</div>
        <div id="enemy_miss" class="stats">Misses: 0</div>
        <div id="enemy_sunk" class="stats">Ships Sunk: 0</div>
        <div id="opponent1" class="place-text">Opponent's stats</div>
        <div id="player_hit" class="stats">Hits: 0</div>
        <div id="player_miss" class="stats">Misses: 0</div>
        <div id="player_sunk" class="stats">Sunk: 0</div>
    </div>

    <table id="opponent" class="battleGrid">
    </table>
    <div class="other">
        <div class="grid-label">  1 </div>
        <div class="grid-label">  2 </div>
        <div class="grid-label">  3 </div>
        <div class="grid-label">  4 </div>
        <div class="grid-label">  5 </div>
        <div class="grid-label">  6 </div>
        <div class="grid-label">  7 </div>
        <div class="grid-label">  8 </div>
        <div class="grid-label">  9 </div>
        <div class="grid-label">  10 </div>
    </div>

    <div class="popup">
        <span class="popuptext" id="myPopup">Popup text...</span>
    </div>

    <div class="info">
        <span class="infotext" id="myInfo">Placing ships:</span>
        <span class="infotext2" id="myInfo2">Click one of the buttons in the middle and place your ships on the map to the left.
        You can place one of each ship.</span>
    </div>

</div>
<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>


</@layout.myLayout>